.popup__button-submit_inactive {
    border: 1px solid #000000;
    background-color: white;
    color:black;
    opacity: 0.3;
    cursor: default;
}

.popup__button-submit_inactive:hover {
    opacity: 0.3;
}